@page "/Simulation"
@using System.Diagnostics
@using DIZZ_1.BackEnd
@using DIZZ_1.BackEnd.Simulation
@using DIZZ_1.BackEnd.Strategies
@using DIZZ_1.Components.Chart
@rendermode InteractiveServer

<h1>Simulation</h1>

@if (MainApp.Instance.StrategiesHandler.HasStrategies())
{
    <div class="card card-body bg-dark text-white p-4" style="width: 25rem;">
        <label>Strategy</label>
        <select class="form-control mt-1" @bind="_selectedStrategyName">
            @foreach (Strategy? strategy in MainApp.Instance.StrategiesHandler.Strategies)
            {
                <option value="@strategy!.Name">
                    @strategy.Name
                </option>
            }
        </select>

        <label class="mt-3">Replication Count</label>
        <input @bind="_replicationCount" class="form-control" type="number" min="1" step="100"/>
        <button class="btn btn-primary mt-3" @onclick="RunSimulation">
            Run Simulation
        </button>
        <button class="btn btn-danger mt-3" @onclick="Stop">
            Stop
        </button>

        <div class="form-group mt-3">
            <label>Speed Control</label>
            <div class="btn-group btn-group-toggle d-block" data-toggle="buttons">
                <label class="btn btn-outline-primary @(_speed == 0 ? "active" : "")">
                    <input type="radio"
                           name="speedOptions"
                           value="0"
                           @onclick="() => ChangeSpeed(0)"/> Slow
                </label>
                <label class="btn btn-outline-primary @(_speed == 1 ? "active" : "")">
                    <input type="radio"
                           name="speedOptions"
                           value="1"
                           @onclick="() => ChangeSpeed(1)"/> Normal
                </label>
                <label class="btn btn-outline-primary @(_speed == 2 ? "active" : "")">
                    <input type="radio"
                           name="speedOptions"
                           value="2"
                           @onclick="() => ChangeSpeed(2)"/> Full Speed
                </label>
            </div>
        </div>
    </div>

    <div class="card bg-dark-subtle p-3 mt-4 w-25">
        <h5 class="p-0 m-0">Jan's Cost: @_bestCost</h5>
    </div>

    <RealTimeChart
        @ref="_chart"
        Title="Simulation"
        XAxisLabel="Replication"
        YAxisLabel="Jan's Costs"
    />
}
else
{
    <p>No strategies were found.</p>
}

@code {

    private string _selectedStrategyName =
        MainApp.Instance.StrategiesHandler.Strategies[0]!.Name;

    private MainSimulation? _simulation;
    public IProgress<SimulationProgress<double>> Progress { get; }
    private int _replicationCount = 100_000;
    private RealTimeChart _chart = new();
    private double _bestCost = 0.0;
    private int _speed = 2;

    public Simulation()
    {
        Progress = new Progress<SimulationProgress<double>>(async void (progress) =>
        {
            _bestCost = progress.Cumulative / progress.CurrentIteration;
            await InvokeAsync(() =>
            {
                StateHasChanged();
                return Task.CompletedTask;
            });
            if (await MainApp.Instance.Config.ShouldBePrintedToGraph(progress.CurrentIteration, _replicationCount))
            {
                await _chart.AddValue(_bestCost);
                StateHasChanged();
            }
        });
    }

    private async Task RunSimulation()
    {
        MainApp.Instance.Config.SetSpeed(_speed);
        Strategy? strategyToRun = MainApp.Instance.StrategiesHandler
            .Strategies.First(s => s!.Name == _selectedStrategyName);

        await RunStrategy(strategyToRun!);
        Console.WriteLine("Done");
    }

    private async Task RunStrategy(Strategy strategyToRun)
    {
        await _chart.Reset();
        _simulation = new MainSimulation(strategyToRun);
        double solution = await _simulation.RunCompleteSimulation(_replicationCount, Progress);
        await _chart.AddValue(solution);
    }

    private void Stop()
    {
        _simulation?.RequestCancellation();
        StateHasChanged();
    }

    private void ChangeSpeed(int newSpeed)
    {
        _speed = newSpeed;
        Console.WriteLine($"Nova speed: {_speed}");
        MainApp.Instance.Config.SetSpeed(_speed);
    }
}
